<div class="main-content-title">
    <h2>Care sunt avantajele dumneavoastră?</h2>
</div>
<div class="col-xs-3 main-content-home-news hidden-xs hidden-sm visible-md visible-lg">
    {% include 'home-news.html' %}
</div>
<div class="col-xs-12 col-md-6 main-content-notebook">
    <img class="notebook-image img-responsive center-block" src="{{ asset('images/main-content-notebook.png') }}" />
</div>
<div class="col-xs-12 main-content-subscribe-text text-center visible-xs visible-sm hidden-md hidden-lg">
    <h3>
        <a class="subscriptionButton" href="/subscription">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            <u>VREAU ABONAMENT</u>
            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
        </a>
    </h3>
</div>
<div class="col-xs-12 visible-xs visible-sm hidden-md hidden-lg">
    <div class="col-xs-12 main-content-home-news">
        {% include 'home-news.html' %}
    </div>
</div>
<div class="col-sm-2 main-content-subscribe-text hidden-xs hidden-sm visible-md visible-lg">
    <a class="subscriptionButton" href="/subscription">
        V<br />
        R<br />
        E<br />
        A<br />
        U<br />
        <br />
        A<br />
        B<br />
        O<br />
        N<br />
        A<br />
        M<br />
        E<br />
        N<br />
        T<br />
    </a>
</div>