<div class="col-xs-12 menu no-padding">
    <div class="col-xs-3 col-sm-2 pull-left no-padding">
        <a href="/home" class="btn btn-custom btn-sm">Acasă</a>
        <a href="/contact" class="btn btn-custom btn-sm">Contact</a>
    </div>
    <div class="col-xs-3 col-sm-2 pull-right no-padding">
    {% if not username %}
        <a href="/register" class="btn btn-custom btn-sm">Creează cont</a>
        <a href="/auth" class="btn btn-custom btn-sm">Autentifică-te</a>
    {% else %}
        <a href="/auctions" class="btn btn-custom btn-sm">Licitaţii</a>
        <a href="{{ path('logout') }}" class="btn btn-custom btn-sm">Deconectare</a>
    {% endif %}
    </div>
    <div class="clearfix"></div>
</div>