<div class="main-content-title">
    <h2>Abonament</h2>
</div>
<br /><br />
<div class="col-xs-10 main-content-auth">
    <form action="/subscribe" id="registrationForm" role="form" method="post">
        <div class="form-body pal">
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-building"></i>
                    <input id="inputCompanyName" name="companyName" type="text" placeholder="Companie" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-street-view"></i>
                    <input id="inputCompanyAddress" name="companyAddress" type="text" placeholder="Adresa" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-barcode"></i>
                    <input id="inputCompanyCui" name="companyCui" type="text" placeholder="CUI" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-user"></i>
                    <input id="inputCompanyRepresentative" name="companyRepresentative" type="text" placeholder="Reprezentant companie" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-bank"></i>
                    <input id="inputCompanyIban" name="companyIban" type="text" placeholder="Cont IBAN" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-envelope"></i>
                    <input id="inputEmail" name="email" type="email" placeholder="Adresa e-mail" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-phone"></i>
                    <input id="inputPhone" name="phoneNumber" type="text" placeholder="Telefon" class="form-control" required />
                </div>
            </div>

            <hr />
            <div class="form-group mbn">
                <label>
                    *Notă: În urma completării formularului de comandă veți primi prin e-mail contractul de prestări servicii și factura proformă.
                </label>
            </div>
        </div>
        <div class="form-actions text-right pal">
            <button type="submit" class="btn btn-primary">
                Vreau abonament
            </button>
        </div>
    </form>
    <br /><br /><br />
</div>