<div class="modal fade" id="signupModal" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-orange modal-content">
            <div class="panel-heading">
                Creare cont
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="panel-body pan">
                <form action="/registerUser" id="registrationForm" role="form" method="post">
                    <div class="form-body pal">
                        <div class="form-group">
                            <div class="input-icon right">
                                <i class="fa fa-envelope"></i>
                                <input id="inputEmail" name="email" type="email" placeholder="E-mail" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon right">
                                <i class="fa fa-lock"></i>
                                <input id="inputPassword" name="password" type="password" placeholder="Parola" data-minlength="6" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon right">
                                <i class="fa fa-phone"></i>
                                <input id="inputPhone" name="phoneNumber" type="text" placeholder="Telefon" class="form-control" required />
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="inputLastName" name="lastName" type="text" placeholder="Nume" class="form-control" required  />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="inputFirstName" name="firstName" type="text" placeholder="Prenume" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input name="newsOption" type="checkbox" />
                                    &nbsp; Sunt de acord sa primesc noutati si oferte speciale
                                </label>
                            </div>
                        </div>
                        <div class="form-group mbn">
                            <div class="checkbox">
                                <label>
                                    <input name="termsAndConditions" type="checkbox" required />
                                    &nbsp; Am citit si sunt de acord cu Termenii si Conditiile de utilizare a site-ului.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions text-right pal">
                        <button type="submit" class="btn btn-primary">
                            Creaza
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
