<div class="panel">
    <div class="panel-body pan">
        <form action="#">
            <div class="form-body pal">
                {% for inputId, input in inputArray %}
                    <div class="form-group">
                        <label for="{{ inputId }}" class="control-label">
                            {{ input }}
                        </label>
                        <textarea id="{{ inputId }}" rows="1" class="form-control">{{ auctionList[inputId] }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="form-actions text-right pal">
                <button type="submit" class="btn btn-primary">
                    Salveaza
                </button>
            </div>
        </form>
    </div>
</div>
                                        