<div class="panel">
    <div class="panel-body pan">
        <form action="" method="post">
            <div class="form-body pal">
                {% for key, value in inputArray %}
                    <div class="form-group">
                        <label for="{{ key }}" class="control-label">
                            {{ value }}
                        </label>
                        <textarea id="{{ key }}" name="{{ key }}" rows="1" class="form-control">{{ auctionList[key] }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="form-actions text-right pal">
                <button type="submit" class="btn btn-primary">
                    Salveaza
                </button>
            </div>
        </form>
    </div>
</div>
                                        