<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Licitatie Pas cu Pas</title>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
    <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:20px;">
                        <tr>
                            <td width="144"><a href= "{{ website }}" target="_blank"><img src="{{ logoPath }}" width="290" height="50" border="0" alt="" style="padding-bottom:10px;"/></a></td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><img src="{{ headerLine }}" style="width:100%; max-height:8px;" border="0" alt=""/></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center"><a href= "{{ website }}" target="_blank"><img src="{{ bodyPicture }}" alt="" width="598" height="249" border="0"/></a></td>
            </tr>
            <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="7%">&nbsp;</td>
                        <td width="86%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="95%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td height="35" align="left" valign="middle" style="border-bottom:2px dotted #000000"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:25px"><strong><em>Licitatiile zilei</em></strong></font></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="5%"><img src="{{ houseImage }}" width="150" height="130" border="0" alt=""/></td>
                                                        <td width="95%" align="left" valign="top">
                                                            Lucrari de reparatie pentru ridicare restrictii de viteza pe aparate de cale: Linia 500 Ploiesti-Vicsani fir I, II, Statia Veresti, inlocuire schimbatori si inlocuire substrat cap X si Y - LOT I<br />
                                                            Valoare  estimata  : 1,016,629.82 RON<br />
                                                            Locatia : Statia Veresti,SUCEAVA<br />
                                                            <a href= "{{ website }}viewDetails/21" style="color:#05bcda; text-decoration:none"><strong><em>click pentru detalii</em></strong></a>
                                                        </td>
                                                    </tr>
                                                </table></td>
                                            </tr>
                                            <tr>
                                                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="10" style="border-bottom:4px solid #d0d1d3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr>
                                                </table></td>
                                            </tr>
                                            <!-- end clone from here -->
                                        </table></td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table></td>
                        <td width="7%">&nbsp;</td>
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table></td>
    </tr>
</table>
</body>
</html>
